.form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 30px;
  padding: 20px;
}

.btn {
  width: 150px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.55px;
  line-height: 1.3;
}

.input {
  margin-top: 10px;
  height: 30px;
  width: 420px;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.48px;
  font-family: Montserrat;
  border-radius: 15px;
  padding-left: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: 1.3;
  letter-spacing: 0.48px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
